.main-container {
  display: grid;
  grid-template-rows: 1fr 9fr;
  background-size: cover;
  background-image: url('../images/main.gif');
}

.title-bar-container {
  display: grid;
  grid-template-columns: auto 8fr;
  background: rgba(255, 255, 255, 0.2);
}

.title-bar-logo {
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  margin-left: 20px;
  margin-right: auto;
  height: 30px;
  width: 70px;
  background-image: url('../images/logo.png');
}

.title-bar-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 20px;
}

.app-container {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-text {
  color: #fff;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-right {
  border-right: 1px solid #fff;
}

.explore-button {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  font-family: Gotham Medium, 'M Hei PRC W45', 'M Hei HK W42', 'M Hei HK W40',
    'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  padding: 7px;
  padding-left: 50px;
  padding-right: 50px;
}

.explore-button:hover {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  font-family: Gotham Medium, 'M Hei PRC W45', 'M Hei HK W42', 'M Hei HK W40',
    'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.4);
  padding: 7px;
  padding-left: 50px;
  padding-right: 50px;
}

.avatar-icon {
  background-repeat: no-repeat;
  background-size: contain;

  padding: 10px;
  border-radius: 50%;
  margin-right: 1px;
  margin-bottom: 7px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.login {
  background: rgba(255, 255, 255, 0.2);
  padding: 17px;
}

.new-user-input-scene {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  display: flex;
}

.new-user-input {
  font-size: 15px;
  width: 20vw;
}
#gui {
  margin-top: 10vh;
}

#roy {
  background-image: url('../images/roy.jpg');
}

#gordan {
  background-image: url('../images/gordan.jpg');
}

#kevin {
  background-image: url('../images/kevin.jpg');
}
