.control-panel-input-container {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 4fr 6fr;
  background-color: rgba(255,255,255,0.2);
  border: 0.5px solid;
  border-right: 2px solid #6bf;
}

.control-panel-input-name {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.control-panel-input-name:hover {
  color: rgb(0, 109, 240);
}

.small-padding {
  padding: 5px;
}

.mid-padding {
  padding: 8px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}
