.bottom-right {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
}

.mid-right {
  position: absolute;
  right: 50px;
  bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
