.bottom-right {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
}

.scene-input-box {
  position: absolute;
  right: 60px;
  bottom: 80px;
}

.mid-right {
  position: absolute;
  right: 50px;
  bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
