.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing .intro-container {
  height: 100vh;
  width: auto;
  background-color: black;
}

.landing .login-container {
  height: 100vh;
  width: auto;
}
