.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.g-signin2 {
  margin-left: 10px;
}

.or-form {
  display: flex;
  align-items: center;
  color: grey;
}

.seperator {
  height: 2px;
  width: 15vw;
  background-color: grey;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  border: 1px solid #999;
  width: 30vw;
  height: 30px;
  padding-left: 10px;
  padding-right: 7px;
  font-size: 12px;
}

input[type=password] {
  border: 1px solid #999;
  width: 30vw;
  height: 30px;
  padding-left: 10px;
  padding-right: 7px;
  font-size: 12px;
}

button {
  width: 40vw;
  background-color: #FF5A5F;
  font-size: 20px;
  font-weight: '700';
  color: #fff;
  padding: 7px;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.bottom-text {
  color: blue;
  margin-left: 7px;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mid-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.large-margin {
  margin-top: 30px;
  margin-bottom: 30px
}
